body {
    width: 400px;
    max-height: 600px;
    overflow-y: auto;
}

html, body, * {
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
}
body {
    overflow-x: hidden;
    overflow-y: auto;
}
.divider {
    height: 1px;
    overflow: hidden;
    background-color: #E5E5E5;
}
.site-template {
    background-color: #ffffff;
}
.site-template .site-header {
    padding: 5px 5px;
    cursor: pointer;
    border: 1px solid #E5E5E5;
    border-left: 0;
    border-right: 0;
    margin-bottom: 2px;
}
.site-template .site-header >* {
    margin: 0 0 0 0;
}
.stream-item {
    margin-top: 0;
    /*width: 400px;*/
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.stream-hover {
    transition: all .3s ease;
}
.stream-hover:hover {
    transition-delay: 1s;
}
.stream-hover:hover > .stream-item-preview {
    width: 400px;
    height: 225px;
    transition-delay: 1s;
}
.stream-hover:hover > .stream-item-detail {
    margin-left: 60px;
    transition-delay: 1s;
}
.stream-item::after {
    display: block;
    content: " ";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
}
.stream-item:last-child::after {
    display: none;
}
.stream-item > .stream-item-preview {
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    width: 120px;
    height: 67px;
    border-radius: 2px;
    transition: all .3s ease;
}
.stream-item > .stream-item-detail {
    box-sizing: border-box;
    float: left;
    padding-top: 8px;
    padding-left: 5px;
    width: 280px;
    height: 68px;
    transition: all .3s ease;
}
.stream-item > div > span {
    display: block;
    float: left;
    color: #a0a0a0;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px
}
.stream-item .stream-item-time {
    padding: 0 2px 0 20px;
    background: url(../img/head_ricon.png) 0 -145px no-repeat
}
.stream-item .stream-item-nick {
    padding: 0 2px 0 18px;
    background: url(../img/head_ricon.png) 0 -29px no-repeat;
    width: 110px
}
.stream-item .stream-item-online {
    padding-left: 18px;
    background: url(../img/head_ricon.png) 0 -48px no-repeat;
    width: 60px
}
.stream-item .stream-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
